@model IEnumerable<CourseApp.Models.Course>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Courses</h1>
        @foreach (var course in Model)
        {
            <div>
                <a href="/courses/details/@course.Id">@course.Name</a>
            </div>
        }
    
</body>
</html>
